<form cg-busy="{promise:distributorRegistration.myPromise, message:''}" name="Lform" novalidate ng-submit="distributorRegistration.saveInspiration(Lform)">


  <div class="modal-header">
    <h3 class="modal-title">Manufacturer Registration</h3>

    <button style="position:absolute; right:20px; top:20px;" ui-sref="identify3D.distributors" class="btn btn-md btn-primary">Cancel</button>

  </div>

  <div class="modal-body">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">

          <!-- <div class="page-header">
              <h4><i class="fa fa-info"></i> Registration</h4>
          </div> -->

          <div class="row">

              <div class="col-md-10">

                  <div class="form-group" ng-class="{ 'has-error' : Lform.url.$invalid}">
                      <label for="exampleInputEmail1">URL*</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" required placeholder="URL" name="url" ng-model="distributorRegistration.url">
                  </div>

              </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-success" ng-click="distributorRegistration.register(Lform)">Register</button>
  </div>

</form>
